.task-assign {
    height: 346px;
    top: 205px;
    left: 708px;
    gap: 0px;
    background: rgba(255, 255, 255, 1);
    opacity: 0px;
}

.typography-1 {
    font-family: Dubai;
    font-size: 24px;
    font-weight: 500;
    line-height: 36px;
    letter-spacing: -0.03em;
    text-align: left;
    color: rgba(20, 21, 34, 1);

}

.view-button {
    width: 100px;
    height: 40px;
    border: 1px solid rgba(195, 211, 226, 1)

    
    
}
.typography-3{

font-family: Inter;
font-size: 14px;
font-weight: 600;
line-height: 16.94px;
text-align: left;

}
.typography-4{
font-family: Dubai;
font-size: 14px;
font-weight: 400;
line-height: 23.63px;
text-align: left;
color: rgba(149, 149, 149, 1);
;
}