/* Add application styles & imports to this file! */
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
   
        font-family: 'Dubai';
        src: url('./assets/fonts/Dubai-Regular.ttf') format('truetype');
        font-weight: normal;
        font-style: normal;
      
}